<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="scdl">

	<select id="selectSchedule" resultType="java.util.HashMap">
		SELECT SCDL_ID, SCDL_STTS, SCDL_CRON, SCDL_NO FROM V_ADMIN
	</select>
	
	<select id="selectOneSchedule" parameterType="int" resultType="NvScheduleVO">
		SELECT SCDL_NO, SCDL_ID, SCDL_CRON FROM V_ADMIN WHERE SCDL_NO = #{scdlNo}
	</select>
	
	<insert id="insertSchedule" parameterType="NvScheduleVO">
		INSERT INTO V_ADMIN(SCDL_NO, SCDL_ID, SCDL_CRON, CRET_DATE) VALUES(#{scdlNo}, #{scdlId}, #{scdlCron}, SYSDATE());
	</insert>
	
	<update id="updateSchedule">
		UPDATE V_ADMIN
		SET SCDL_ID = #{scdlId}, SCDL_CRON = #{scdlCron}, MODI_DATE = SYSDATE()
		WHERE SCDL_NO = #{scdlNo}
	</update>
</mapper>