* {
	margin:0;
	padding:0;
}

header {
	width:100%;
	height:70px;
	background-color:#B2C6D4;
	text-align:center;
}

footer {
	width:100%;
	height:70px;
	background-color:#B2C6D4;
	position:fixed;
	bottom:0px;
}

body {
	/* 드래그 방지 */
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.header_content {
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

/* 메인 컨테이너 중앙정렬 */
.main_content {
	position:absolute;
	width:100%;
	height:600px;
	padding:100px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column; /* 세로 방향으로 정렬 */
}

.left_content {
	text-align:center;
	padding:15px;
	width:100%;	
}


.right_content {
	text-align:center;
	padding:15px;
	width:100%;
}

.table_header_content {
	width:100%;
	padding:10px;
	text-align:right;
}