<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.nowij.nv.vo.NvScheduleVO" alias="NvScheduleVO"/>
	</typeAliases>

	<mappers>
		<mapper resource="com/nowij/nv/mapper/scheduleMapper.xml"></mapper>
	</mappers>

</configuration>
